# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# macOS junk
.DS_Store

# VS Code
.vscode/

# Pytest
.cache/
.pytest_cache/

# Logs
*.log

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# FastAPI or Uvicorn reload files
*.pid

# PyCharm
.idea/

# Python egg metadata
*.egg-info/
dist/
build/

# Local env files
.env
.env.*
!.env.template

# Database
*.db
*.sqlite3

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# JWT secrets or keys
*.pem
*.key
*.crt

.early.coverage